<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>PaSE Covid-19 Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <!-- <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap.min.css')}}"
    /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='fontawesome.min.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='all.css')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='fontawesome.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='all.min.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p class="toprow">
          <img
            src="{{url_for('static', filename='img/logo.png')}}"
            alt="logo"
            height="30px"
          />
          Covid-19 Tracker Application
        </p>
      </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-2 box">
          <p>Total Cases <i class="fa fa-arrow-alt-circle-up icons"></i></p>
          <p class="counterPara"><b>{{covid["cases"]}}</b></p>
        </div>
        <div class="col-2 box">
          <p>
            Recovered <i class="fa fa-arrow-alt-circle-down icons-green"></i>
          </p>
          <p class="counterPara"><b>{{covid["recovered"]}}</b></p>
        </div>
        <div class="col-2 box">
          <p>Active Cases <i class="fa fa-arrow-alt-circle-up icons"></i></p>
          <p class="counterPara"><b>{{covid["active"]}}</b></p>
        </div>
        <div class="col-2 box">
          <p>Total Deaths <i class="fa fa-arrow-alt-circle-up icons"></i></p>
          <p class="counterPara"><b>{{covid["deaths"]}}</b></p>
        </div>
      </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <table class="table table-striped">
            <tr>
              <th>Countries</th>
              <th>Total Cases</th>
              <th>Recovered</th>
              <th>Active Cases</th>
              <th>Deaths</th>
            </tr>
            <tbody class="stripped-table" id="data-table"></tbody>
          </table>
        </div>
        <div class="col-4">
          <div class="col align-self-end side-box">
            <div class="row justify-content-center innerBoxPadding">
              <div class="col-5 inner-box"><b>Health Tips</b></div>
            </div>
          </div>
          <div>&nbsp;</div>
          <div class="col align-self-end side-box">
            <div class="row justify-content-center innerBoxPadding">
              <div class="col-6 inner-box"><b>News & Update</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script>
      $.getJSON("https://disease.sh/v3/covid-19/countries",
        function (datas) {
          console.log(datas);
          function buildTable(data) {
            var table = document.getElementById("data-table");
            for (var i = 0; i < data.length; i++) {
              var row = `<tr>
                <td>${data[i].country}</td>
                <td>${data[i].cases}</td>
                <td>${data[i].active}</td>
                <td>${data[i].recovered}</td>
                <td>${data[i].deaths}</td>
              </tr>`;

              table.innerHTML += row;
            }
          }
          buildTable(datas);
        }
      );
    </script>
    <script>
      datas = [
        {
          updated: 1598228677573,
          country: "USA",

          cases: 5841428,
          todayCases: 43829,
          deaths: 180174,
          todayDeaths: 974,
          recovered: 3148080,
          todayRecovered: 20662,
          active: 2513174,
          critical: 16739,
          casesPerOneMillion: 17632,
          deathsPerOneMillion: 544,
          tests: 75475175,
          testsPerOneMillion: 227823,
          population: 331288117,
          continent: "North America",
          oneCasePerPeople: 57,
          oneDeathPerPeople: 1839,
          oneTestPerPeople: 4,
          activePerOneMillion: 7586.07,
          recoveredPerOneMillion: 9502.54,
          criticalPerOneMillion: 50.53,
        },
        {
          updated: 1598228677574,
          country: "Brazil",

          cases: 3582698,
          todayCases: 46210,
          deaths: 114277,
          todayDeaths: 823,
          recovered: 2709638,
          todayRecovered: 38883,
          active: 758783,
          critical: 8318,
          casesPerOneMillion: 16838,
          deathsPerOneMillion: 537,
          tests: 14144344,
          testsPerOneMillion: 66474,
          population: 212780766,
          continent: "South America",
          oneCasePerPeople: 59,
          oneDeathPerPeople: 1862,
          oneTestPerPeople: 15,
          activePerOneMillion: 3566.03,
          recoveredPerOneMillion: 12734.41,
          criticalPerOneMillion: 39.09,
        },
        {
          updated: 1598228677575,
          country: "India",

          cases: 3043436,
          todayCases: 70068,
          deaths: 56846,
          todayDeaths: 918,
          recovered: 2279900,
          todayRecovered: 59101,
          active: 706690,
          critical: 8944,
          casesPerOneMillion: 2202,
          deathsPerOneMillion: 41,
          tests: 34491073,
          testsPerOneMillion: 24958,
          population: 1381974682,
          continent: "Asia",
          oneCasePerPeople: 454,
          oneDeathPerPeople: 24311,
          oneTestPerPeople: 40,
          activePerOneMillion: 511.36,
          recoveredPerOneMillion: 1649.74,
          criticalPerOneMillion: 6.47,
        },
        {
          updated: 1598228677576,
          country: "Russia",
          cases: 951897,
          todayCases: 4921,
          deaths: 16310,
          todayDeaths: 121,
          recovered: 767477,
          todayRecovered: 6147,
          active: 168110,
          critical: 2300,
          casesPerOneMillion: 6522,
          deathsPerOneMillion: 112,
          tests: 33814105,
          testsPerOneMillion: 231693,
          population: 145943820,
          continent: "Europe",
          oneCasePerPeople: 153,
          oneDeathPerPeople: 8948,
          oneTestPerPeople: 4,
          activePerOneMillion: 1151.88,
          recoveredPerOneMillion: 5258.72,
          criticalPerOneMillion: 15.76,
        },
      ];
      function buildTable(data) {
        var table = document.getElementById("data-table");
        for (var i = 0; i < data.length; i++) {
          var row = `<tr>
                <td>${data[i].country}</td>
                <td>${data[i].cases}</td>
                <td>${data[i].active}</td>
                <td>${data[i].recovered}</td>
                <td>${data[i].deaths}</td>
              </tr>`;

          table.innerHTML += row;
        }
      }
      buildTable(datas);
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
      integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
